In [1]:
import pandas as pd

In [7]:
df=pd.read_csv("./CSV/test.csv")

In [8]:
df.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,100,50,0,Unnamed: 11
0,0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,53.78,51,68,14,NaN
1,1,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,17,NaN
2,2,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45,58,16,NaN
3,3,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,52.31,36,63,8,NaN
4,4,AN Cook (ENG),2006-2018,161,291,16,12472,294,45.35,33,57,9,NaN